<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/hibernate_demo?useSSL=false</property>
        <property name="hibernate.connection.username">hibernate_user</property>
        <property name="hibernate.connection.password">password123</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  		<property name="hibernate.connection.driver.class">org.mariadb.jdbc.driver</property>

        
        <mapping class="Adresse" />
		<mapping class="Employe" />
		<mapping class="Technicien" />
		<mapping class="Pilote" />
		<mapping class="Type" />
		<mapping class="Avion" />
		<mapping class="Reparation" />
		<mapping class="Examen" />
		<mapping class="Examination" />
		<mapping class="Test" />
		<mapping class="AvionTest" />
		
    </session-factory>
</hibernate-configuration>