<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/projet_bdd2?useSSL=false</property>
  <property name="hibernate.connection.username">hibernate_user</property>
  <property name="hibernate.connection.password">Q%ff!vc</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.projet.Entites.Adresse"/>
  <mapping class="com.projet.Entites.Employe"/>
  <mapping class="com.projet.Entites.Technicien"/>
  <mapping class="com.projet.Entites.Pilote"/>
  <mapping class="com.projet.Entites.Type"/>
  <mapping class="com.projet.Entites.Avion"/>
  <mapping class="com.projet.Entites.Reparation"/>
  <mapping class="com.projet.Entites.Examen"/>
  <mapping class="com.projet.Entites.Examination"/>
  <mapping class="com.projet.Entites.Test"/>
  <mapping class="com.projet.Entites.AvionTest"/>
 </session-factory>
</hibernate-configuration>
